.App {
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
}

form div {
  margin-top: 10px;
}

form input {
  width: 50%;
  height: 50px;
  border-radius: 10px;
}

form button {
  width: 50%;
  height: 50px;
  border-radius: 20px;
}
